Body {
  background-color: lightseagreen;
}

.jumbotron {
  background-color: rgb(81, 81, 117);
}

.container {
  background-color: lightseagreen;
}
.jumbotron > h1{
  text-align: center;
  font-size: 4em;
}

.jumbotron > h2 {
  text-align: center;
}

.col-4 {
  color: white;
}

.border {
 border-style:solid;
 border-color:#287EC7;
}


 img {
  width: 400px;
  border-style: solid;
  border-width: 30px;
  border-color: rgb(3, 3, 73);
}

.tiny {
  width: 250px;
  border-style: 10px;
  border-color: rgb(3, 3, 73)
}

h1, h2 {
  color: white
}


h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blockquote {
  font-size: .75em;
}
